@import "variable";
@import "barraNavegador";
@import "index";
@import "somos";
@import "equipos";



html{font-size: 62.5%;}

*{margin: 0;
    padding: 0;}


@font-face{font-family: Bebas;
    src: url(../Fuentes/Bebas.ttf)}





